.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.textbox {
  font-size: 16px;
  margin: 8px;
  padding: 8px 12px;
  width: 100%;
  border-radius: 15px;
  border: 0;
}

.historyHeader {
  margin: 0 0 16px 0;
  font-size: 16px;
}

.historyList {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
  padding: 16px;
}

.historyListItem {
  text-align: left;
  justify-content: space-between;
  padding: 12px 16px;
  appearance: none;
  background: none;
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
}

.historyListItem:hover {
  background-color: rgba(112, 76, 182, 0.1);
  transition: background-color 0.15s;
}

.resultsContainer {
  display: flex;
  flex-wrap: wrap;
}
